<h1><%= t('site.index') %></h1>
<h2><%= t('hello') %></h2>
<p><%= t('site.intro') %></p>

<%= link_to "Manage copy with Copycat", copycat_translations_path %>
<dl>
  <dt>username</dt><dd>copycat</dd>
  <dt>password</dt><dd>password</dd>
</dl>

